<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>


    <title>LearnHacks</title>
<!--    <script src="https://kit.fontawesome.com/8a02b9f577.js" crossorigin="anonymous"></script>-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
    </script>

</head>

<body>
<div class="container">
    <	<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-light" href="#">
        LearnHacks
    </a>
    <!--		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>-->

    <!--		<div class="col" sec:authorize="hasRole('ROLE_USER')">-->
    <!--			<form action="#" th:action="@{/getQuestionPage}" method="get">-->
    <!--				<button type="submit"  value="Logout" class="btn btn-light">Upload question</button>-->
    <!--			</form>-->
    <!--		</div>-->

    <div sec:authorize="isAuthenticated()"  class="dropdown pmd-dropdown pmd-user-info ml-auto">
        <button href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center bg-light" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
            <!--				<img class="mr-2" src="https://pro.propeller.in/assets/images/avatar-icon-40x40.png" width="40" height="40" alt="avatar">-->
            <div class="media-body">
                <span  sec:authentication="principal.username">User</span>
            </div>
            <i class="material-icons md-light ml-2 pmd-sm"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="dropdown-item" sec:authorize="isAuthenticated()"><a th:href="@{/getQuestionPage}">Edit Profile</a></li>
            <li class="dropdown-item" sec:authorize="hasRole('ROLE_USER')"><a th:href="@{/getQuestionPage}">Upload Questions</a></li>
            <li class="dropdown-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </div>

</nav>
    <p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="index.html">ECE</a></li>
                <li class="breadcrumb-item active" aria-current="page">Digital Electronics</li>
            </ol>
        </nav>
    </p>
    <p>
    <div class="progress bg-dark">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">25%</div>
    </div>
    </p>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card">
        <h5 class="card-header">Digital Electronics</h5>

        <div class="container">

            <div class="card-body">
                <ol>
                <div th:each="produto,produtoStat : ${customersAll}"    >

                        <li>
                    <h6 class="card-title"  th:text="${produto.content}" ></h6>
                    <p>
                        <form action="/action_page.php">
                    <p>
                    <div class="form-check" th:each="options,custStat : ${produto.options}">
                        <label class="form-check-label" th:for="'radio' + ${custStat.index}">
                            <input type="radio" class="form-check-input" th:id="'radio' + ${custStat.index}" name="optradio"
                                   th:value="${options}"   th:text="${options}" >
                        </label>
                    </div>
                    </p>
                    <button type="submit" class="btn btn-dark">Submit</button>
                    <img src="https://img.icons8.com/cute-clipart/64/000000/facebook-like.png"/>
                    </form>
                    </p>
                    <p>
                        <button class="btn btn-info" type="button" data-toggle="collapse"
                                th:data-target="'#collapseExample' + ${produtoStat.index}" aria-expanded="false" th:aria-controls="'collapseExample' + ${produtoStat.index}">
                            Show Answer
                        </button>
                    </p>
                    <div class="collapse" th:id="'collapseExample'+ ${produtoStat.index}">
                        <div class="card card-body" th:text="${produto.explanation}">
                        </div>
<!--                        <div><p>-->
<!--                            When \(a \ne 0\), there are two solutions to \(ax^2 + bx + c = 0\) and they are-->
<!--                            \[x = {-b \pm \sqrt{b^2-4ac} \over 2a}.\]s-->
<!--                        </p></div>-->
                    </div>
                        </li>

                </div>
                </ol>
            </div>

        </div>


    </div>
</div>
<div>

    <ion-icon name="heart-dislike-circle-outline"></ion-icon>
</div>




<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
<script src="js/like-dislike.js"></script>

<a href="https://icons8.com/icon/119151/facebook-like">Facebook Like icon by Icons8</a>

</body>
</html>