<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>

    <title>Registration</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand text-light" href="#">
            LearnHacks
        </a>
    </nav>
</div>

<div class="container" >
    <div class="row  justify-content-md-center">
        <div class="col-md-6">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully registered
                    to our awesome app!
					<a class="btn btn-light btn-sm " data-target="#exampleModal" data-toggle="modal">Login here</a>
                </div>
            </div>

            <h1>Registration</h1>
            <form th:action="@{/registration}" th:object="${user}" method="post">

                <p class="alert alert-danger" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                    <label for="firstName" class="control-label">First name</label> <input
                        id="firstName" class="form-control" th:field="*{firstName}"/>
                    <p class="alert alert-danger"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                    <label for="lastName" class="control-label">Last name</label> <input
                        id="lastName" class="form-control" th:field="*{lastName}"/>
                    <p class="alert alert-danger"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">E-mail</label> <input
                        id="email" class="form-control" th:field="*{email}"/>
                    <p class="alert alert-danger"
                       th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                    <label for="confirmEmail" class="control-label">Confirm
                        e-mail</label> <input id="confirmEmail" class="form-control"
                                              th:field="*{confirmEmail}"/>
                    <p class="alert alert-danger"
                       th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Password</label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}"/>
                    <p class="alert alert-danger"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="confirmPassword" class="control-label">Confirm
                        password</label> <input id="confirmPassword" class="form-control"
                                                type="password" th:field="*{confirmPassword}"/>
                    <p class="alert alert-danger"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                    <input id="terms" type="checkbox" th:field="*{terms}"/>   <label
                        class="control-label" for="terms"> I agree with the <a
                        href="#">terms and conditions</a> for Registration.
                </label>
                    <p class="alert alert-danger"
                       th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
                        error</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a data-target="#exampleModal" data-toggle="modal">Login
								here</a></span>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ************* -->

                <form method="post" th:action="@{/login}">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">Invalid username or
                            password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">You have been logged out.</div>
                    </div>
                    <div class="form-group">
                        <label for="username">Email</label>: <input autofocus="autofocus"
                                                                    class="form-control" id="username" name="username"
                                                                    placeholder="Email Id" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>: <input class="form-control"
                                                                       id="passwordIn" name="password" placeholder="Password"
                                                                       type="password"/>
                    </div>
                    <div class="form-group">
                        <div >
                            <div>
                                <input class="form-control btn btn-dark" id="login-submit" name="login-submit"
                                       type="submit" value="Log In"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                  <span>New user?
                    <a class="btn btn-dark btn-sm" href="/" th:href="@{/registration}">Register here</a>
                  </span>
                    </div>
                </form>


                <!-- ************* -->
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-dark">Sign In</button>
              <button type="button" class="btn btn-dark">Register</button>
            </div> -->
        </div>
    </div>
</div>

<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
</body>
</html>