<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <title>LearnHacks</title>
    <script src="https://kit.fontawesome.com/8a02b9f577.js" crossorigin="anonymous"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@3.1.0/dist/tagify.min.js"></script>
    <script id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>


<body>


<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="index.html">
            <!--            <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30"-->
            <!--                 class="d-inline-block align-top" alt="">-->
            LearnHacks
        </a>
    </nav>
    <p>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">ECE</li>
            </ol>
        </nav>
    </p>

    <div class="card">
        <h5 class="card-header">Enter you Question and Options</h5>


        <div class="card-body">
            <p>
                <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#mathJaxGuide"
                        aria-expanded="false" aria-controls="mathJaxGuide">MathJax guide to write Mathematical equations
                </button>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="mathJaxGuide">
                            <div class="card card-body">
                                <a class="btn btn-light" target="_blank"
                                   href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference"
                                   role="button">MathJax basic tutorial and quick reference</a>

                            </div>
                            <div class="card card-body">
                                <!--start of card-->


                                <form action="#" th:action="@{/postContent}" th:object="${mathJaxData}" method="post">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="mathJaxValidationInput">Equations validation</span>
                                                </div>
                                                <textarea type="text" class="form-control" id="mathJaxValidation"
                                                          name="data" rows="3"
                                                          aria-describedby="mathJaxValidation"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-4">
            <p>
                <button class="btn btn-dark" type="submit" aria-expanded="false" aria-controls="viewEquation">
                    Button with data-target
                </button>
            </p>
            <div id="viewEquation">
                <div class="card card-body" th:text="${equation}"> Equation
                </div>
            </div>
        </div>
    </div>
    </form>


    <!--                            end of card-->

</div>

</div>
</div>
</div>
</p>


<form action="#" th:action="@{/postQuestion}" th:object="${question}" method="post">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Question</span>
            </div>
            <textarea type="text" class="form-control" id="question" name="content" rows="4"
                      aria-describedby="basic-addon3"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Option 1</span>
            </div>
            <textarea type="text" class="form-control" id="option1" name="option1" rows="2"
                      aria-describedby="basic-addon3"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Option 2</span>
            </div>
            <textarea type="text" class="form-control" id="option2" name="option2" rows="2"
                      aria-describedby="basic-addon3"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Option 3</span>
            </div>
            <textarea type="text" class="form-control" id="option3" name="option3" rows="2"
                      aria-describedby="basic-addon3"></textarea>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Option 4</span>
            </div>
            <textarea type="text" class="form-control" id="option4" name="option4" rows="2"
                      aria-describedby="basic-addon3"></textarea>
        </div>

        <label>Enter Correct Answer</label>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="answer" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="answer" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="answer" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="answer" id="inlineRadio4" value="option4">
            <label class="form-check-label" for="inlineRadio4">4</label>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Explaination</span>
            </div>
            <textarea type="text" class="form-control" id="explanation" name="explanation" rows="3"
                      aria-describedby="basic-addon3"></textarea>
        </div>

        <h2>Enter tags/ Catagories</h2>
        <textarea name='tags2' placeholder='tags'>Engineering</textarea>

        <div>
            <p>
                <button type="submit" class="btn btn-primary">Submit</button>
            </p>
        </div>
    </div>
</form>

</div>


</div>

<script>
    var number = [[${number}]];
    var message = "[[${message}]]";
    console.log("Numbeer+ " + number);
    console.log("message+ " + message);


    var input1 = document.querySelector('input[name=tags]'),
        input2 = document.querySelector('textarea[name=tags2]'),
        // init Tagify script on the above inputs
        tagify2 = new Tagify(input2, {
            enforeWhitelist: true,
            whitelist: ["Engineering", "ECE", "CSE", "Mechanical", "Gate", "ISRO"]
        });

    // toggle Tagify on/off
    document.querySelector('input[type=checkbox]').addEventListener('change', function () {
        document.body.classList[this.checked ? 'add' : 'remove']('disabled');
    })
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

<script>


    $(function() {
        // store a reference to the collapse div so that
        // we don't have to keep looking it up in the dom
        const collapseExample = $("#mathJaxGuide");

        // register a callback function to the collapse div that
        // will be called every time the collapse is opened.
        collapseExample.on("shown.bs.collapse", function() {
            // since we know that that this function is called on
            // open, we'll set the localStorage value to "show"
            localStorage.setItem("mathJaxGuide", "show");
        });

        // register a callback function to the collapse div that
        // will be called every time the collapse is closed.
        collapseExample.on("hidden.bs.collapse", function() {
            // since we know that that this function is called on
            // open, we'll set the localStorage value to "hide"
            localStorage.setItem("mathJaxGuide", "hide");
        });

        // Since this function runs on page load (meaning only once), we can
        // check the value of localStorage from here and then call the
        // bootstrap collapse methods ourselves:

        // Check the value of the localStorage item
        const showExampleCollapse = localStorage.getItem("mathJaxGuide");

        // Manipulate the collapse based on the value of the localStorage item.
        // Note that the value is determined by lines 36 or 44. If you change those,
        // then make sure to check that the comparison on the next line is still valid.
        if (showExampleCollapse === "show") {
            collapseExample.collapse("show");
        } else {
            collapseExample.collapse("hide");
        }
    });


</script>


</body>
</html>